.meu-botao {
    background-color: #436487;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  }

.gradient-bg {
  background-image: linear-gradient(to bottom right, #fcfdfd, #fcfdfd   );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
